@page
    <h2>Sorry...</h2>
    <p>We've had a problem. Please retry later.</p>



@*
    @page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
</body>
</html>*@
