@{
    ViewBag.Title = "BAU Page";
}

@section scripts {
    <script src="~/ClientApp/dist/inline.bundle.js"></script>
    <script src="~/ClientApp/dist/polyfills.bundle.js"></script>
    <script src="~/ClientApp/dist/styles.bundle.js"></script>
    <script src="~/ClientApp/dist/vendor.bundle.js"></script>
    <script src="~/ClientApp/dist/main.bundle.js"></script>
}


@*<h2>Engineers</h2>
<p>This app allow user to plan the <strong>daily work</strong>.</p>
<p>In order to be able to manage work for engineers you must be signed in.</p>
<br />*@
<the-app></the-app>

