<div style="height: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-default">
                <header>
                    <div class="navbar-header">
                        <div class="navbar-brand"><a href="" style="margin-right: 10px;"><i class="fa fa-suitcase"></i></a>BAU</div>
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
                    </div>
                    <div id="menu" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                            <li><a routerLink="/engineers" routerLinkActive="active">Engineers</a></li>
                            <li *ngIf="data.isLoginRequired"><a routerLink="/login" routerLinkActive="active">Login</a></li>
                            <li *ngIf="data.isLoginRequired == false"><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>